# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Files or Directories to be ignored

0_Old/
SA_1_click/.Rproj.user/
SA_1_click</0_Old/
SA_1_click/cache/
SA_1_click/figure/
SA_1_click/.svn/

Documentation/Old/

SA_App_4250/.Rproj.user/
SA_App_4250/cache/

SA_Reference/figure/
SA_Reference/Ref_gares_cache/
SA_Reference/Ref_gares_files/

*.xlsx
*.xls
*.csv
*.RData
*.html
*.pper
*.png
*.jpg
.Rproj.user
*.pdf
*.log